.custom-title {
    color: $white;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25;
}

.custom-title.custom-title--1 {
    font-size: 42px;
}

.custom-title.custom-title--2 {
    font-size: 32px;
}

.custom-title.custom-title--decore {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 8px;
        width: 0%;
        height: 2px;
        background-color: $yellow;
        animation-name: underline;
        animation-duration: .9s;
        animation-fill-mode: forwards;
        animation-timing-function: ease;
    }
}

@keyframes underline {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}
