.custom-title {
    color: $white;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25;
}

.custom-title.custom-title--1 {
    font-size: 42px;
}

.custom-title.custom-title--2 {
    font-size: 32px;
}
