.main-page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    background-color: $black;

    @include screen-sm {
        background-color: rgba(0, 0, 0, .5);
    }
}

.main-page__bg {
    display: none;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;

    @include screen-sm {
        display: block;
    }
}

.main-page__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main-page__title {
    margin-bottom: 8px;

    @include screen-sm {
        margin-bottom: 16px;
    }
}

.main-page__text {
    margin-bottom: 8px;
    text-align: center;
    font-size: 24px;
    line-height: 1.5;
    color: $white;

    @include screen-sm {
        margin-bottom: 16px;
    }
}

.main-page__action-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;
}

.main-page__action-block-text {
    margin-bottom: 8px;

    @include screen-sm {
        margin-bottom: 16px;
    }
}

.main-page__action-block-btn {
    margin-bottom: 8px;

    @include screen-sm {
        margin-bottom: 16px;
    }
}
