custom-input {
    display: flex;
    flex-flow: column-reverse;
    width: 100%;
}

.custom-input__input {
    color: $white;
    opacity: .9;
    background: none;
    border: none;
    border-bottom-color: $white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 6px;
    transition: all .3s;
    touch-action: manipulation;
    cursor: text;

    &:focus {
        outline: none;

        &::-webkit-input-placeholder {
            opacity: .5;
        }
    }
}

.custom-input__label {
    color: $white;
    font-weight: 700;
    transition: all .3s;
    touch-action: manipulation;
}

.custom-input__input:placeholder-shown ~ .custom-input__label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 30px);
}

.custom-input__input:not(:placeholder-shown) ~ .custom-input__label,
.custom-input__input:focus ~ .custom-input__label {
    transform: translate(0, 0);
    cursor: pointer;
}

::-webkit-input-placeholder {
    color: $white;
    opacity: 0;
    transition: inherit;
}

.custom-input__error-text {
    display: inline-block;
    padding: 2px 0;
    height: 16px;
    font-size: 12px;
    color: red;
}
